<% provide(:title, "Home") %>
<link href="cover.css" rel="app/assets/stylesheets">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    


  <main class="px-3">
    <h1>ToDo</h1>
    <p class="lead">Schedule for your day</p>
    <p class="lead"></p>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-grey">GET START</a>
    </p>
  </main>

    
  </body>